html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
      scroll-behavior: smooth;
      overflow-x: hidden;
}

#navbar {
    display: flex;
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    background-color: white;
    font-size: 18px;
}
#navbar > ul {
    display: flex;
    flex-direction: row;
    margin: 0 auto 0;
    padding-top: 8px;
    
}

#navbar > ul > li{
    padding-right: 15px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

a:hover {
    text-decoration: underline;
}

 #welcome-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;  
    color: white;
    font-size: x-large; 
    margin-left: calc(-50vw + 50%);
    background:linear-gradient(
          115deg,
          rgba(58, 58, 158, 0.8),
          rgba(136, 136, 206, 0.7)
        ),
        url(https://assets.entrepreneur.com/content/3x2/2000/1599084192-Ent-CodingBundle.jpg) no-repeat center center fixed;
        background-size: 100%;
      
 }

 #hidden {
     display: none;
 }

 #projects > h3 {
    display: flex;
    justify-content: center;
    align-items: center; 
 }

 #projects-container {
     display: flex;
     flex-direction: row;
     align-items: center;

 }

 #survey-tile {
    background:
      url(https://lh3.googleusercontent.com/EgYSgVIFu33X9qjBSoBDhxIVsqLUozPqlogxN9kyuUUTKQ4mMeh2m7vNoA10ivNV7tHZrRmFdYjQVaVQGi8yCVuehWx6Fj_IjC6qaKNPl4opfFn7O9VlCiJMzzOuCYjJ_7YH9ssfA33-wCyM4oJ95Z5IKDx7LDamusgg4l3YA_7_l5vtNC89pg70ZspxVzX0LbRRWfDHnMPls-U0ei65_gadYEKbxIsfqyZRqyi0cnUqK0pdukXRoVC7JgBH9tvE8EJj6UdrvYOzbAIUIqkd3V4bCzsBgdeJsBxiw3jPHsNmxkx93oVDzkM-YvOlBNuPnA-XLjbsWHvWEO2YtiEaICRA50p3e2lvK1G0HIkC9niKMD67FvAnReUuUVqIst-WPixenUcwe4FkDspflPj162wzSqHHOltEWe9JPBXHqKM7aRB0YX-Fo_D8sJOpzg_ECvzi27GWB7TuVFNRI0qFMRvlut3j0VAZ6SHBOSS_8W1n_d4qILROgfT90chwvhq6X5VHDy-pslY9pWUgcWGfOMfGlb-2kulvz7J-VeGsK6hukK9JKS5Dp3_qazeBDl3VIzP9xI0KQI3DYP5Wul7Kakf3uJymVfMW2OCks8vwT2BL93ZV511PHPXaMtZci7wG-0EHoS0p0cZ63O0d8-Vvf5jQRwi8TsKP_l4b2cVy0Q73jmcSh2_1EdxpmKUoctJ7hqtu0Wx1xmLlkKMipeA04rZ-=w797-h568-no?authuser=0);
      background-size: 100%;
 }

 #product-tile {
     background:
     url(https://lh3.googleusercontent.com/ae45acX1xESX7nJHYo38fzrL3OtVUHGc8URs7-j302JOOygHFdvXHahLEMw5ABGIEFVys3SRKVf3PBe83IlhzzTXt-KCIWpYfct5VGAWEz1BCs0OLPF38MTbljyr2kKaQHrqx_dmeZMkDmkR6gOzYrvb9Ize-xOCUmlfbgQgqF8Zcw9LAcLX7DuRRFbYeMhMlHFJZLnzIMsK_YJhXSzOzqT3yTWReeuHFzoT9VwN1HBxA_WvAb9EEAoeKHb_1f03FsvgiVBgBl4a7gGBdEBGug9AsN7Qj83Fzo09RMnZFuu5lXRDmVAEtPezRvmSIWJTenWKFbydR0F3P0VQjBxmu1w5gb_q3__TRXOUuRwjQikBSUQBLAXa6ov-bULxzJfWuWFBRVMAMVm0OLxXKc-xpfRryP-np-xvcYuuHtrUBOtFcjlcC194nTYfmGf0HFX4MvkrKEVmCHmc4TV4gJor3FAt7xkUfAze-fO1IssltE0KMbeylVnrIix9rzbW-h_YX0GKNOy5DzzLc72gIFad9n2dnGODDmWmjR72_phmZTNt_ig6cZ0KSWSFtHTh99jTWpCYENHz9p61fi3EhUKEUw5E3sp2zo_OriHnUFYjIFmf4oHd8DNvjKF4oN0tC5x3ZZN1hLOegd3fPXfMAjoUmxtNtScaWuGDnM0WaNRo_eTRpGbuDfg3ceLX0gBr1CxIHcFvhzopBFJNoAbcnsErepj8=w797-h568-no?authuser=0);
     background-size: 100%;
 }

 #doco-tile {
     background:
    url(https://lh3.googleusercontent.com/G99olk2usArzHUqcvjjMni2cmPIsakvHIeCaVn47W2w73hvuZpq_Puk9D6n0VWWH2P79bWhJR1G8fEsiRSa5Q9LEAqAUDKpfMMpR4ynd_Ib5qMbmPCnyTJydZKDhtEL2EVtPRV4ylusi2F7EW8RX2ph4O6oCnE0wv0bzTrstE41te6U5K3TCeezuWLfDa-wLlZkb8IMN6Z7k3EWFHTt5iY4hjp2k7o05Qehuvby_hZld949GIY3mrVq0KdY8ogzn5Ow7PwcPvB57nngqTgKQQh2CabLqiKXboYQNxGA5IELn_gE1_R1Gu3OYe5rjEdhYy8org3zqmAgQStHeEjJqEN_UzpOWYhdBSgCCQCmRo7VeheJrvTi6aaI2qWn3aVfGUKkjNqILVVAQM2CL6hCEoaUg93uIiiUB3D9SZXbvKVaESDBrkECdyF2-_gptUryH94ZCBHS8rzettm2SxFSRmdOVwYSQ_1FEeSGMXZ8GeN-AsB4ll0vW9t5btp5Jg3AXLiuYhnOOI5W35y-swmv7Yl91W9RvT7L-gMidEqhw8Kh5Yv7YRyIdEvhMLVl0wspSsrSw3jwfmimzRLLJaXmF38jxisog_256NstzcIcjU7EMd6ujSXSJUvay5kYTJp2lrtWu9wwcY-6v29GlIHEHlpT7DvYHulFZV3di9atC7dUxO7u6urTbMGGhwT_u0acR5mOqLpNwc89_RuWPqfWPoU35=w797-h568-no?authuser=0);
    background-size: 100%;
    }

#tribute-tile {
    background:
    url(https://lh3.googleusercontent.com/V2LrxDzUmq_aE0JtnkiBomp1JRydNQMFbP9x9A7FkXZgF_FcQM9d_sfTXgnjdwoiK_sVOvkAwcJ4HEKfcmfN07s9bh7Q_qibXbdQXYLLsL9IfQc94FMBJT1zNFL0rEgm1ZP9Bwy1bQBED2le3w2_bxaDE9M1XYsb2tmWT40JWfAdy81y5ykqQxqpopU7_iYDe3v9GqDbUTwzW0zubYUJ2-idJtLUqjXVc-nI7lICsEC5YJRjwePfjmekkUhbOs2npxXLAPke9pcyE7lNMxadzyq8ljw2qUd3Cgs0yyVAweD1RCTHQzZMlmL9SZkfMopCP3_ZtciQkhZthkN1NXLHMe483lakTUwLc3ZWeEaAy2vX3DXshCa9-Og3p5TMvx0godSMDDegqAwObmCvid-RAhQYyqTDHsXyu0zMESJKkv_kXGv5cijkcRRRALlcvHN-Yei9mbg4hljH9krJTMYfDygJvNIdW8FO4Ntg7OG7cFvEwXgElYP9LlS945i39Kh-aNfIWfVR9JDuDDUJMHC6mLxO6XFPF3D64u5kU9QUOQRrhEp9fa2WCdhdCJ2njBQ2ZrlqBJeB6a5ws8HXi8Z-8FA-2dLgPc55jujm7R2jDZd-DXvNhnkMHuwKQn6ofihJF6PqbSXhMmRXmXtj2YCH0s7dLfIIoUq6gbn4a5GNDKtTkmgA7EgbjUPkqna2HdaTF9--sVEd6rkJbI-KZCDCwl9i=w797-h568-no?authuser=0);
    background-size: 100%;
}

 .project-tile {
    
     padding: 30px;
     margin: 10px;
     height: 10rem;
     width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }

 .project-tile:hover{
     background-color: green;
     background:linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      );
      margin: 0;
 }

 .project-tile:hover #hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
     margin: 10px;
    
 }

 .project-tile:hover #replace {
     display: none;
 }
 

